*********************************************************************************
*                                                                               *
*                                     ,----,                                    *
*                                   .'   .`|                            ____    *
*        ,---.  ,--,             .'   .'   ;                          ,'  , `.  *
*       /__./|,--.'|    __  ,-.,---, '    .' ,---.     ,---.       ,-+-,.' _ |  *
*  ,---.;  ; ||  |,   ,' ,'/ /||   :     ./ '   ,'\   '   ,'\   ,-+-. ;   , ||  *
* /___/ \  | |`--'_   '  | |' |;   | .'  / /   /   | /   /   | ,--.'|'   |  ||  *
* \   ;  \ ' |,' ,'|  |  |   ,'`---' /  ; .   ; ,. :.   ; ,. :|   |  ,', |  |,  *
*  \   \  \: |'  | |  '  :  /    /  ;  /  '   | |: :'   | |: :|   | /  | |--'   *
*   ;   \  ' .|  | :  |  | '    ;  /  /--,'   | .; :'   | .; :|   : |  | ,      *
*    \   \   ''  : |__;  : |   /  /  / .`||   :    ||   :    ||   : |  |/       *
*     \   `  ;|  | '.'|  , ; ./__;       : \   \  /  \   \  / |   | |`-'        *
*      :   \ |;  :    ;---'  |   :     .'   `----'    `----'  |   ;/            *
*       '---" |  ,   /       ;   |  .'                        '---'             *
*              ---`-'        `---'                                              *
*                                                                               *
*   http://www.virzoom.com                                                      *
*                                                                               *
*********************************************************************************
